a:link {
	color: black;
}

a:visited {
	color: black;
}


#pt_insert_page_section {
  width: 930px;
  height: 2000px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  font-size: inherit;
}

#pt_write_title p {
	margin-left: 60px;
	padding-top: 60px;
	font-size: 15px;
	font-family: 'THEmpgtB';
}

#pt_write_content {
	padding: 0;
}

#pt_write_content input, textarea {
	font-family: 'THEmpgtM';
	font-size: 12px;
}

#pt_write_content input {
	padding-left: 5px;	
}

#pt_write_content textarea {
	padding-left: 5px;
	padding-right: 5px;
	line-height: 20px;
}

#pt_write_content label {
	font-size: 12px;
	position: relative;
	float:right;
	right: 40px;
	line-height: 30px;
	font-family: 'THEmpgtM';
}

.col_25 {
  float: left;
  width: 330px;
  height: 30px;
  font-family: 'THEmpgtM';
}

.col_75 {
  float: left;
  width: 600px;
  font-family: 'THEmpgtM';
}

#pt_name {
  padding: 0;
  border: none;
  border-radius: 5px;
  height: 30px;
  width:  300px;
  float: left;
  font-size: 12px;
  line-height: 28px;
  transition: border 0.3s;
  border: 1px solid rgba(75, 77, 178, 0.3);
}

#pt_write_content input:focus {
	outline: none;
}

#pt_write_content textarea:focus {
	outline: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 100px;
  grid-auto-rows: 70px;
  gap: 10px 7px;
  text-align: center;
}

#input_imgbox1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: white;
  line-height: 360px;
}

#input_imgbox2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  line-height: 180px;
}

#input_imgbox3 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  line-height: 180px;
}

.input_imgbox_content {
  border: 1px solid rgba(75, 77, 178, 0.3);
  border-radius: 5px;
/*   outline: 2px dashed #4B4DB2;
  outline-offset: -10px; */
  transition: all .3s ease-in-out;
}

.pt_write_listbox {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
  font-size: 16px;
}

.pt_write_textarea {
  width: 417px;
  resize: none;
  border-radius: 5px;
  transition: border 0.3s;
  border: 1px solid rgba(75, 77, 178, 0.3);
  color: #757575;
}

.pt_write_input_text {
	 color: #757575;
}

#pt_submit_button {
	width: 70px;
	height: 30px;
	margin: 20px auto;
	display: block;
	border: none;
	outline: none;
	background: #4B4DB2;
	color: white;
	font-size: 12px;
	font-family: 'THEmpgtM';
}

#pt_test_button {
	width: 70px;
	height: 30px;
	margin: 20px auto;
	display: block;
	border: none;
	outline: none;
	background: #4B4DB2;
	color: white;
	font-size: 12px;
	font-family: 'THEmpgtM';
}

#ajax_test_button {
	width: 70px;
	height: 30px;
	margin: 20px auto;
	display: block;
	border: none;
	outline: none;
	background: #4B4DB2;
	color: white;
	font-size: 12px;
	font-family: 'THEmpgtM';
}

.row {
	overflow: hidden;
	margin-top: 50px;
	font-size: 0;
}

#pt_name_textCount {
	position: absolute;
	top: 0;
	left: 80%;
	margin: 0;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	box-sizing: border-box;
}

#pt_introduce {
	height: 110px;
}

#pt_information {
	height: 208px;
}

#pt_target_student, #pt_trainer_info, #pt_notice {
	height: 60px;
}

#pt_price {
  padding: 0;
  border: none;
  border-radius: 5px;
  height: 30px;
  width:  300px;
  float: left;
  font-size: 12px;
  line-height: 26px;
  transition: border 0.3s;
  border: 1px solid rgba(75, 77, 178, 0.3);
}

#pt_time_notice {
	margin: 0;
	color: #757575;
	font-size: 12px;
}

#pt_category_div {
	border: 1px solid rgba(75, 77, 178, 0.3);
	width: 300px;
	height: 30px;
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
	transition: border 0.3s;
	user-select: none;
}

#pt_category_div p {
	font-size: 12px;
	line-height: 28px;
	padding-left: 5px;
	user-select: none;
	color: #757575;
}

.pt_category_arrow {
	font-size: 28px;
	color: rgba(75, 77, 178, 0.3);
	position: absolute;
	left: 90%;
	top: 0%;
	line-height: 28px;
}

#pt_category_list {
	font-size: 12px;
	height: 0px;
	width: 300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: height 0.3s;
	overflow: hidden;
	border-radius: 5px; 
}

#pt_category_list_box {
	background-color: white;
	color: black;
}

#pt_category_list_box li {
	line-height: 30px;
	padding-left: 5px;
	transition: 0.3s;
}

.pt_time_div {
	display: inline-block;
	width: 130px;
	height: 30px;
	border-radius: 5px;
	margin-right: 13.5px;
	border: 1px solid rgba(75, 77, 178, 0.3);
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'THEmpgtM';
	line-height: 28px;
	position: relative;
}

.pt_time_div p {
	font-size: 12px;
	line-height: 28px;
	padding-left: 5px;
	user-select: none;
	color: #757575;
}

.pt_time_arrow {
	font-size: 28px;
	color: rgba(75, 77, 178, 0.3);
	position: absolute;
	left: 80%;
	top: 0%;
	line-height: 28px;
}

#pt_day_list {
	font-size: 12px;
	height: 0px;
	width: 130px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: height 0.3s;
	overflow: hidden;
	border-radius: 5px; 
}

#pt_day_list_box {
	background-color: #c8c9e8;
}

#pt_day_list_box li{
	height: 30px;
	padding-left: 5px;
	line-height: 30px;
}

#pt_start_time_list {
	font-size: 12px;
	height: 0px;
	width: 130px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: height 0.3s;
	overflow: hidden;
	border-radius: 5px; 
}

#pt_start_time_list_box {
	background-color: #c8c9e8;
	column-count: 2;
}

#pt_start_time_list_box li{
	height: 15px;
	padding-left: 5px;
	line-height: 15px;
}

#pt_end_time_list {
	font-size: 12px;
	height: 0px;
	width: 130px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: height 0.3s;
	overflow: hidden;
	border-radius: 5px; 
}

#pt_end_time_list_box {
	background-color: #c8c9e8;
	column-count: 2;
}

#pt_end_time_list_box li{
	height: 30px;
	padding-left: 5px;
	height: 15px;
	line-height: 15px;
}

#pt_time_add_div {
	display: inline-block;
	margin-right: 13.5px;
	position: relative;
}

#pt_time_add_btn {
	background: #4B4DB2;
	color: white;
	font-size: 12px;
	font-family: 'THEmpgtM';
	width: 70px;
	height: 30px;
	border: none;
	outline: none;
}

.pt_time_delete_btn {
	background: #4B4DB2;
	color: white;
	font-size: 12px;
	font-family: 'THEmpgtM';
	width: 70px;
	height: 30px;
	border: none;
	outline: none;
}

.time_info_div {
	font-size: 0px;
	margin-bottom: 12px;
}

.time_info_p {
	display: inline-block;
	font-size: 12px;
	font-family:'THEmpgtM';
	width: 130px;
	height: 30px;
	margin-right: 13.5px;
	line-height: 30px;
	padding-left: 6px;
	box-sizing: border-box;
}

#pt_start_date_label {
	display: inline-block;
	font-size: 12px;
	font-family:'THEmpgtM';
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	width: 50px;
}

#pt_end_date_label {
	display: inline-block;
	font-size: 12px;
	font-family:'THEmpgtM';
	height: 30px;
	line-height: 30px;
	margin-left: 13.5px;
	margin-right: 10px;
	width: 50px;
}

#pt_start_date {
	display: inline-block;
	font-size: 12px;
	line-height: 28px;
	font-family:'THEmpgtM';
	height: 30px;
	border: 1px solid rgba(75, 77, 178, 0.3);
	border-radius: 5px;
	transition: border 0.3s;
	user-select: none;
	box-sizing: border-box;
	text-align: center;
	width: 70px;
}

#pt_end_date {
	display: inline-block;
	font-size: 12px;
	line-height: 28px;
	font-family:'THEmpgtM';
	height: 30px;
	border: 1px solid rgba(75, 77, 178, 0.3);
	border-radius: 5px;
	transition: border 0.3s;
	user-select: none;
	box-sizing: border-box;
	text-align: center;
	width: 70px;
}

#pt_insert_calendar_modal_div {
	z-index: 2;
	background-color: rgba(128, 128, 128, 0.356);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family:'THEmpgtM';
	font-size: 12px;
	display: none;
}

#pt_insert_calendar_input_div {
	background-color: white;
	border: 1px solid rgba(75, 77, 178, 0.7);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 800px;
	background-color: white;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	padding: 10px;
}

/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */
/* 리스트 페이지 */

#pt_list_page_section{
	height: auto;
}

#pt_list_page_div {
	padding: 60px;
	padding-bottom: 50px;
	font-size: 0px;
}

#pt_list_title {
	font-size: opx;
	font-family:'THEmpgtB';
	height: 30px;
	line-height: 30px;
}

#pt_list_title p {
	display: inline-block;
	font-size: 15px;
	font-family:'THEmpgtB';
}

#pt_list_title button {
	margin-left: 10px;
	width: 155px;
	height: 30px;
	font-size: 12px;
	background-color: #4B4DB2;
	color: white;
	float: right;
}

#pt_list_filter {
	margin-top: 15px;
}

#pt_list_page_category_div {
	display: inline-block;
	border: 1px solid rgba(75, 77, 178, 0.3);
	width: 130px;
	height: 30px;
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
	transition: border 0.3s;
	user-select: none;
	margin-right: 10px; 
}

#pt_list_page_category_div p{
	font-size: 12px;
	font-family:'THEmpgtM';
	line-height: 28px;
	color: #757575;
}

#pt_list_page_category_list {
	font-size: 12px;
	height: 0px;
	width: 130px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition-property: height, border-color;
	transition-duration: 0.3s;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid rgba(75, 77, 178, 0.0);
}

#pt_list_page_category_list_box li{
	height: 30px;
	padding-left: 5px;
	line-height: 30px;
}

#pt_list_page_location_div {
	display: inline-block;
	border: 1px solid rgba(75, 77, 178, 0.3);
	width: 100px;
	height: 30px;
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
	transition: border 0.3s;
	user-select: none;
	margin-right: 10px; 
}

#pt_list_page_location_div p{
	font-size: 12px;
	font-family:'THEmpgtM';
	line-height: 28px;
	color: #757575;
}

#pt_list_page_location_list {
	font-size: 12px;
	height: 0px;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition-property: height, border-color;
	transition-duration: 0.3s;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid rgba(75, 77, 178, 0.0);
}

#pt_list_page_location_list_box li{
	height: 30px;
	padding-left: 5px;
	line-height: 30px;
}

#pt_list_page_time_div {
	display: inline-block;
	border: 1px solid rgba(75, 77, 178, 0.3);
	width: 100px;
	height: 30px;
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
	transition: border 0.3s;
	user-select: none;
	margin-right: 10px; 
}

#pt_list_page_time_div p{
	font-size: 12px;
	font-family:'THEmpgtM';
	line-height: 28px;
	color: #757575;
}

#pt_list_page_time_list {
	font-size: 12px;
	height: 0px;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition-property: height, border-color;
	transition-duration: 0.3s;
	overflow: hidden;
	border: 1px solid rgba(75, 77, 178, 0.0);
	border-radius: 5px; 
}


#pt_list_page_time_list_box li{
	height: 30px;
	padding-left: 5px;
	line-height: 30px;
}

.pt_list_page_category_arrow {
	font-size: 28px;
	color: rgba(75, 77, 178, 0.3);
	position: absolute;
	right: 10px;
	top: 0%;
	line-height: 28px;
}



#pt_list_page_category_list_box {
	background-color: white;
	color: black;
}

#pt_list_page_text {
	padding: 0;
	padding-left: 5px;
	border: none;	
	width: 250px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	border-radius: 5px;
	border: 1px solid rgba(75, 77, 178, 0.3);
	box-sizing: border-box;
	line-height: 28px;
	font-family: 'THEmpgtM';
	transition: border 0.3s;
	float: right;
}
#pt_list_page_text:focus {	
	outline: none;
	border: 1px solid rgba(75, 77, 178, 0.7);
}

#pt_list_page_text_btn {
	width: 60px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	background-color: #e0e0e0;
	float: right;
	margin-left: 10px;
}

#pt_list_page_container{
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 50px;
	
}

.pt_list_page_grid_content {
	/* border: 3px solid rgba(75, 77, 178, 0.7); */
	box-sizing: border-box;
	width: 190px;
	height: 290px;
	font-family: 'THEmpgtM';
	font-size: 12px;
	box-sizing: border-box;
}

.pt_list_page_cursor {
	border: 1px solid black;
	cursor: pointer;
}

.pt_list_page_grid_content img {
	width: 190px;
	height: 160px;
}

#pt_list_page_btns {
	margin-top: 50px;
	font-size: 12px;
	font-size: 0px;
	font-family: 'THEmpgtM';
	text-align: center;
}

#pt_list_page_btns button{
	font-size: 12px;
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */
/* 상세조회 페이지 */


#pt_read_page_section{
	height: auto;
}

#pt_read_page_div {
	padding: 60px;
	padding-bottom: 50px;
	font-size: 0px;
}

#pt_read_title button {
	float: right;
	font-size: 12px;
	font-family:'THEmpgtM';
	width: 155px;
	height: 30px;
	line-height: 30px;
	background-color: #4B4DB2;
	color: white;
}

#pt_read_title_p {
	display: inline-block;
	font-size: 15px;
	font-family:'THEmpgtB';
	height: 30px;
	line-height: 30px;
}

#pt_read_second_row {
	font-size: 12px;
	font-family:'THEmpgtM';
	height: 30px;
	line-height: 30px;
	color: rgb(94,94,94);
}

#pt_read_img_container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 215px 215px;
	gap: 5px;
}

#pt_read_img1 {
	grid-row: 1 / 3;
}

.pt_read_img_div img {	
	object-fit: cover;
	margin: auto;
	width: 100%;
	height: 100%;
}

#pt_read_page_section hr {
	margin-top: 80px;
	margin-bottom: 80px;
}

.pt_read_content_div {
	font-size: 0px;
}

.pt_read_content_label {
	display: inline-block;
	font-size: 15px;
	height: 30px;
	font-family:'THEmpgtB';
	width: 120px;
	margin-right: 40px;
	vertical-align: top;
	padding-top: 6px;
}

.pt_read_content_text {
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	font-family:'THEmpgtM';
	width: 650px;
	line-height: 2;
}

#pt_reservation_time_info_modal_div {
	z-index: 2;
	background-color: rgba(128, 128, 128, 0.356);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family:'THEmpgtM';
	display: none;
	font-size: 0px;
}

#pt_reservation_time_info_div {
	border: 1px solid rgba(75, 77, 178, 0.7);
	position: fixed;
	top: 50%;
	left: 50%;
	width: 450px;

	transform: translate(-50%, -50%);
	background-color: white;
	font-size: 0px;
}

#time_info_title {
	width: 125px;
	font-family:'THEmpgtB';
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	margin: 45px auto;
}

#time_info_day_hour {
	width: 260px;
	margin: 0 auto;
	font-size: 12px;
	margin-bottom: 50px;
}
#pt_reservation_time_info_cancle {
	border-top: 1px solid rgba(75, 77, 178, 0.7);
	border-right: 0.5px solid rgba(75, 77, 178, 0.7);
	width: 225px;
	height: 50px;
	box-sizing: border-box;
	font-size: 12px;
}

#pt_reservation_time_info_select {
	border-top: 1px solid rgba(75, 77, 178, 0.7);
	border-left: 0.5px solid rgba(75, 77, 178, 0.7);
	width: 225px;
	height: 50px;
	box-sizing: border-box;
	font-size: 12px;
}



/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */
/* pt예약 일정 생성 확인 페이지 */


#pt_calendar_page_section {
	border-radius: 10px 10px 0 0;
	/* user-select: none; */
	font-size: 0px;
	height: auto;
}

#pt_calendar_page_div {
	padding: 60px;
}

#pt_calendar_title {
	margin-bottom: 20px;
}

#pt_calendar_title p {
	font-family:'THEmpgtB';
	font-size: 15px;
}

#calendar_wrap {
	width: 600px;
	height: auto;
	display: inline-block;
}

#pt_reservation_calendar {
	font-size: 12px;
}

#pt_calendar_time_info_title{
	font-size: 12px;
	font-family:'THEmpgtB';
	margin-left: 34px;
	margin-bottom: 10px;
}

#pt_calendar_time_info {
	font-family:'THEmpgtM';
	font-size: 0px;
	width: 210px;
	padding-left: 20px;
}

#pt_calendar_time_info i {
	font-size: 20px;
	color: white;
	line-height: 20px;
	border: 2px solid rgba(75, 77, 178, 0.3);
	border-radius: 6px;
	width: 20px;
	text-align: center;
	transition: 0.3s;
	cursor: pointer;
	display: inline-block;
}

#pt_calendar_time_info p {
	display: inline-block;
	vertical-align: top;
}

#pt_reservation_data {
	font-family:'THEmpgtM';
	font-size: 12px;
}

.fc-event-main {
	font-family:'THEmpgtM';
	font-size: 10px;
}

#pt_calendar_page_container {
	display: grid;
	grid-template-columns: 600px 210px;
}

.pt_calendar_time_info_select {
	font-size: 12px;
	font-family:'THEmpgtM';
	display: block;
	line-height: 24px;
	height: 24px;
	margin-bottom: 10px;
}

#pt_calendar_hr {
	margin: 50px 0;
	display: none;
}

#pt_calendar_summary {
	display: none;
}

#pt_calendar_summary_timtle {
	font-size: 15px;
	font-family:'THEmpgtB';
	margin-bottom: 10px;
}

#pt_calendar_summary_container {
	margin: 0 auto;
	width: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 20px;
	text-align: center;
}

#pt_calendar_summary_container .summary_left{
	font-size: 12px;
	font-family:'THEmpgtM';
}

#pt_calendar_summary_container .summary_right{
	font-size: 12px;
	font-family:'THEmpgtB';
}

#pt_calendar_trade_wrap {
	margin: 0 auto;
	margin-top: 40px;
	width: 155px;
	display: none;
}

#pt_calendar_tarde_btn {
	font-size: 12px;
	font-family:'THEmpgtM';
	width: 155px;
	height: 30px;
	color: white;
	background-color: #4B4DB2;
}

#pt_calendar_modal_div {
	z-index: 2;
	background-color: rgba(128, 128, 128, 0.356);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family:'THEmpgtM';
	font-size: 0px;
	display: none;
}

#pt_calendar_modal {
	border: 1px solid #4B4DB2;
	top: 50%;
	left: 50%;
	position: fixed;
	width: 300px;
	height: 150px;
	transform: translate(-50%, -50%);
	background-color: white;
}

#pt_calendar_modal_content {
	font-family:'THEmpgtB';
	font-size: 15px;
	color: rgb(94,94,94);
	text-align: center;
	line-height: 15px;
	width: auto;
	margin: 52.5px auto;
}

#pt_calendar_modal_cancle {
	background: #4B4DB2;
	color: white;
	font-size: 12px;
	font-family: 'THEmpgtM';
	width: 150px;
	height: 30px;
	border: none;
	outline: none;
	border-top: 1px solid #4B4DB2; 
	border-right: 0.5px solid #4B4DB2; 
}

#pt_calendar_modal_check {
	background: #4B4DB2;
	color: white;
	font-size: 12px;
	font-family: 'THEmpgtM';
	width: 150px;
	height: 30px;
	border: none;
	outline: none;
	border-top: 1px solid #4B4DB2; 
	border-left: 0.5px solid #4B4DB2; 
}

.pt_calendar_i_wrap {
	display: inline-block;
	width: 24px;
}

.pt_calendar_time_info_str {
	margin-left: 10px;
}

/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */
/* pt 마이페이지 */

#pt_my_page_section {
	height: auto;
}

#pt_my_page_div {
	padding: 60px;
	padding-bottom: 50px;
	/* font-size: 0px; */
}

#pt_my_page_title {
	overflow: hidden;
	margin-bottom: 35px;
}

#pt_my_page_title p{
	float: left;
	font-size: 15px;
	font-family:'THEmpgtB';
	height: 30px;
	line-height: 30px;
}

#pt_my_page_title button {
	float: right;
	font-size: 12px;
	font-family:'THEmpgtM';
	width: 155px;
	height: 30px;
	line-height: 30px;
	background-color: #4B4DB2;
	color: white;
	margin-left: 10px;
}

#pt_my_page_container {
	display: flex;
	width: auto;
	font-size: 0px;
	font-family:'THEmpgtM';
	flex-direction: column;
}

.pt_my_page_row {
	height: 40px;
	line-height: 40px;
}

#pt_my_page_first_row {
	border-bottom: 1px solid rgb(188, 188, 188);
	border-top: 1px solid rgb(188, 188, 188);
	font-family:'THEmpgtB';
}

.pt_my_page_row div {
	display: inline-block;
	font-size: 12px;
	margin: 0px;
}

.pt_my_page_no {
	width: 55px;
	padding-left: 5px;
}

.pt_my_page_program_title {
	width: 450px;
}

.pt_my_page_regist_date {
	width: 100px;
}

.pt_my_page_category {
	width: 100px;
}

.pt_my_page_favorite {
	width: 100px;
}















































































